.footer {
    background-color: #69544b;
    color: cornsilk;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: start;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: medium;
  }

.footer-logo,
.contact-us,
.about-us,
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  height: 100%;
  width: 100%;
  padding: 1em;
  line-height: 2em;
}

.about-us a{
  color: antiquewhite;
}

.about-us a:hover {
  font-size: 1.5em;
}

.footer-logo img {
  width: 4em;
  height: 4em;
  background-color: wheat;
  border: 0.1em solid beige;
  border-radius: 2em;
}
.contact-us svg{
  margin: 0.3em;
}

.contact-us svg:hover {
  width: 4em;
  height: 4em;
}

.newsletter label {
  font-size: medium;
}


.news-button , .newsletter input[type=text] , .newsletter input[type=email]{
  padding: 0;
  border: 0.1em solid #e28743;
  color: #69544b;
  background-color: wheat;
  font-size: medium;
}

.newsletter input[type=text]:focus,
.newsletter input[type=email]:focus
{
  background-color: white;
  border: none;
  color: black;
}

.newsletter button:hover {
  border: 0.1em solid wheat;
 color: wheat;
 background-color: #69544b;
}