.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: start;
  background-color: beige;
  /* margin: 1em; */
}

.footer-logo , .contact-us , .about-us , .newsletter{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 1px solid; */
      height: 100%;
      width: 100%;
      padding: 1em;
        line-height: 2em;
}

.about-us a:hover{
  font-size: 1.5em;
}

.footer-logo img {
  width: 5em;
  height: 5em;
}

.contact-us svg:hover{
  width: 4em;
  height: 4em;
}

.newsletter label{
  font-size: medium;
}

.newsletter button{
  cursor: pointer;
  
}
.newsletter button:hover {
  size: 3em;
}