header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-name {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: normal;
  align-content: center;
  font-size: xx-large;
}

.topheader {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e28743;
  min-height: 3rem;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 6rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}

.topheader-img img {
  width: 100px;
  height: auto;
}

.topheader-img,
.page-name,
.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #e28743;
  border-color: #e28743;
  border-width: 1px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-top: 1rem;
  width: 10rem;

  @media all and (min-width: 768px) {
    background-color: transparent;
    border-color: #e28743;
    border-width: 1px;
    color: #e28743;
    width: 10rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

button:hover {
  background-color: #e28743;
  color: aliceblue;
  font-weight: bold;
  border: none;
  transition: 0.5s;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: cornsilk;
  background-color: #69544b;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
  width: 100%;
  list-style: none;
  gap: 2rem;
  overflow: hidden;
}

.nav-item {
  float: left;
  /* overflow: hidden; */
}

.nav-item {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navigation a:hover,
.nav-item:hover .dropbtn .nav-item {
  background-color: #e28743;
  transition: 0.6s;
}

.navigation a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 1.5rem 1.5rem;
}

.drop-content-starters,
.drop-content-salads,
.drop-content-main,
.drop-content-desserts {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-content-starters a,
.drop-content-salads a,
.drop-content-main a,
.drop-content-desserts a {
  float: none;
  color: #69544b;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop-content-starters a:hover,
.drop-content-salads a:hover,
.drop-content-main a:hover,
.drop-content-desserts a:hover {
  background-color: #e28743;
  color: white;
  /* transition: 0.3s; */
}

.navigation .nav-item:hover .drop-content-starters,
.navigation .nav-item:hover .drop-content-salads,
.navigation .nav-item:hover .drop-content-main,
.navigation .nav-item:hover .drop-content-desserts {
  display: block;
}
