.recipe-page__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url("./images/bkg_recipe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}

.recipe-page__body {
  overflow-x: hidden;
  background: #73676787;
}

.recipe-page {
  min-height: 100vh;
  font-size: 1.6rem;
  @media screen and (min-width: 768px) {
    font-size: 1.8rem;
  }
  & .header {
    background: #6f7eb2;
    position: relative;
    z-index: 1;
  }
  & .main {
    position: relative;
    z-index: 1;
    padding: 2rem 0;
    @media screen and (min-width: 1024px) {
      padding: 6rem 0;
    }
  }
  & .footer {
    background: royalblue;
    position: relative;
    z-index: 1;
  }

  & .recipe-container {
    position: relative;
    flex-direction: column;

    @media screen and (min-width: 576px) {
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }

    & .content-box {
      background: #ffffff;
      border-radius: 1rem;
      padding: 2rem;
      width: 100%;
      &:first-of-type {
        margin-top: 10rem;
      }
      @media screen and (min-width: 768px) {
        padding: 4rem;
      }
      @media screen and (min-width: 1024px) {
        &:first-of-type {
          width: 40%;
        }
        &:last-of-type {
          width: 60%;
          margin-top: 40rem;
        }
      }
    }
  }
}
